@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}
/* Ensure the text doesn't break into new lines prematurely */
.typewriter-effect {
  display: inline-block;
  white-space: nowrap; /* Prevents line breaks */
  overflow: hidden;
  animation: typing 2s steps(30) 1s forwards, blink-caret 0.75s step-end infinite, glitch 1s ease-in-out 2s 1 forwards;
}

/* Smooth fade-in with scale-up for initial page load */
.typewriter-effect {
  display: inline-block;
  opacity: 0; /* Start with the element hidden */
  transform: scale(0.9); /* Start scaled down */
  animation: fadeInScale 1.5s ease-out forwards; /* Fade-in with scale effect */
}

/* Smooth fade-in with scale-up */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9); /* Start smaller */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* End at normal size */
  }
}

/* Glitch effect for added randomness */
@keyframes glitch {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-5px);
    opacity: 0.8;
  }
  40% {
    transform: translateX(5px);
    opacity: 0.9;
  }
  60% {
    transform: translateX(-5px);
    opacity: 0.85;
  }
  80% {
    transform: translateX(5px);
    opacity: 0.95;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
